<link rel="stylesheet" href="/css/header.css">
<div id="nav-header">
    <ul>
        <li><img src="/images/insta_logo.png" alt="logo"> </li>
        <li class="search-box"><input type="search" placeholder="search"><i class="fas fa-search"></i></li>
        <li>
            <i class="fas fa-home"></i>
            <i class="fab fa-facebook-messenger"></i>
            <i class="fas fa-compass"></i>
            <i class="fas fa-heart"></i>
            <% if(locals.user) {%>
            <a href="/users/profile/<%=locals.user.id%>"><i class="fas fa-user"></i></a>
            <a href="/users/sign-out"><i class="fas fa-sign-out-alt"></i></a>
            <%}%>
        </li>
    </ul>
</div>