<link rel="stylesheet" href="/css/direct_chat.css">
<div id="container">
    <div id="details">
        <img src="<%= user.avatar %>" id="profile-pic">&nbsp;
        <b><%= user.name%></b>
    </div>

</div>