<link rel="stylesheet" href="/css/home.css">

<div id="container">

<!-- Cards of posts -->
<div>
<% for(post of posts) {%>
       
<%- include("Post_card") %>
<%}%>
</div>

<!-- Side div -->
<%- include("home_side_div") %>

</div>

<script src="/js/home.js" async defer></script>
