<link rel="stylesheet" href="/css/sign-up.css">
<div id="sign-up-container">
    <img src="/images/insta_logo.png" alt="logo">
    <form  id="sign-up-form" action='/users/create' method="post">
        <input type="text" name="name" placeholder="Enter Your name..."><br>
        <input type="email" name="email" placeholder="Enter Your email..."><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="password" name="confirm_password" placeholder="confirm password..."><br>
        <input type="submit" value="Sign Up">
    </form>
</div>