<link rel="stylesheet" href="/css/sign-in.css">
<div id="sign-in-container">
    <img src="/images/insta_logo.png" alt="logo">
    <form  id="sign-up-form" action='/users/create-session' method="post">
        <input type="email" name="email" placeholder="Enter Your email..."><br>
        <input type="password" name="password" placeholder="Enter Password"><br>
        <input type="submit" value="Sign In">
    </form>
    <h3>Register for new account <a href="/users/sign-up">Sign Up</a></h3>
</div>