#container{
    width: 800px;
    height: 500px;
    border: 0.5px solid lightgray;
    margin: 0 auto;
    background-color: #fff;
    #details{
        height: 40px;
        border-bottom: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        padding: 5px 0 10px 10px;
        font-size: 1.2rem;
        #profile-pic{
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
        a{
            text-decoration: none;
            color: black;
        }
    }
    #chats{
        height: 400px;
        overflow-y: scroll;
        
            ul{
                padding-right: 20px;
                margin-top: 10px;
                
                
                li{
                    
                    margin-top: 10px;
                    list-style: none;
                    
                    padding: 10px;
                    border: 0.5px solid lightgray;
                    border-radius: 10px;
                    
                }
            }
        
    }
    #typed-message{
        border: 0.5px solid lightgray;
        display: flex;
        align-items: center;
        #message{
            width: 700px;
            font-size: 1rem;
            outline: none;
            border: none;
        }
        #btn{
            font-size: 1.2rem;
            height: 40px;
            width: 100px;
            background-color: #fff;
            border: none;
            border-left: 0.5px solid lightgray;
            cursor: pointer;
        }
    }
}

.sender{
    display: flex;
    margin-left: 50%;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 350px;
    word-wrap: break-word;
    background-color: palegreen;
}
.receiver{
    display: flex;
    margin-right: 50%;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 350px;
    word-wrap: break-word;
    background-color: #fafafa;
}