#nav-header>ul{
    padding:10px 10vw;
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid lightgray;
    .search-box{
        input{
           position: relative;
           padding-left: 50px;
        }
        i{
            position: absolute;
            margin-left: -200px;
            padding-top: 8px;
            font-size: 0.9rem;
            color:lightgray;
        }
    }
   input{
       padding: 5px;
       font-size: 0.9rem;
   }
    i{
        padding-right: 20px;
        font-size: 1.5rem;
    }
}
#nav-header{
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    margin-bottom: 25px;
}