$post-width: 600px;
#container{
    margin: 0 auto;
    width: 70vw;
    display: flex;
    
    #card-container{
        width: $post-width;
        background-color: #fff;
        a{
            text-decoration: none;
            color: black;
        }
        border: 0.5px solid lightgray;
        margin-bottom: 50px;
        font-size: 1.2rem;
        #top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 0.5px solid lightgray;
            #user-detail{
            display: flex;
            align-items: center;
            }
            #profile-pic{
                height: 40px;
                width: 40px;
                border-radius: 50%;
            }
        }
        
        #post-pic{
          
            height: 750px;
            width: $post-width;
            
        }
        #bottom{
            padding: 10px;
            font-size: 1.5rem;
            display: flex;
            justify-content: space-between;
            i{
                margin-right: 15px;
            }
        }

        #post-details{
            padding: 10px;
        }
    }
    #right-panel{
        position: fixed;
        right: 5vw;
        width: 300px;
        #user-details{
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                color: black;
            }
        }
        #user-pic{
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 0.5px solid lightgray;
        }
        #suggestion{ 
           
            #newUsers{
                a{
                    text-decoration: none;
                    color: black;
                }

                display: flex;
                align-items: center;
                margin-bottom: 10px;
                #newUser-pic{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                border: 0.5px solid lightgray;
                            }
                    }
        }
    }
}

#post-options{
    display: none;
    position: absolute;
    text-align: center;
    background-color: #fff;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    width: $post-width;
    
}
.pa-b{
    padding: 5px;
}

#comment-container{
    margin-top: 15px;
    width: $post-width;
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 0.5px solid lightgray;
        padding: 5px;
        font-size: 1.2rem;
        textarea{
            width: ($post-width - 150);
            border: none;
            outline: none;
            border-right: 0.5px solid lightgray;
        }
        input{
            border: none;
            width: ($post-width - 450);
            background-color: #fff;
            cursor: pointer;
            font-size: 1rem;
        }
    }
}

#comments{
    padding-left: 10px;
    p{
        font-size: 0.9rem;
    }
    span{
        font-size: 0.9rem; 
    }
}

@media screen and (max-width: 1150px){
    #container{
        width: 80vw;
        margin: 0 auto;
        display: flex;
    }
}
@media screen and (max-width: 1095px) {
    #container{
        width: 600px;
    }
    #right-panel{
        display: none;
    }
}

@media screen and (max-width: 625px){
    $post-width:90vw;
   #container{
    margin: 0 auto;
    width: 90vw;
    display: flex;
   
    #card-container{
        width: $post-width;
        background-color: #fff;
        #post-pic{
            height: 500px;
            width: $post-width;
        }
        
    }
   
   }
   #comment-container{
    margin-top: 15px;
    width: $post-width;
    $comment-width: calc( #{$post-width} - 80px );
    $button-width: calc( #{$post-width} - #{$comment-width} );
    form{
        textarea{
            width: $comment-width;
            }
        input{
            width: $button-width;
        }
    }
}
#post-options{
    width: $post-width;
}
}