#sign-up-container{
    margin: 10vh auto;
    padding:50px;
    width: fit-content;
    border:1px solid lightgray;
    text-align: center;
    input{
        margin-bottom: 20px;
        font-size: 1rem;
        padding: 5px;
    }
}